<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head %>
  </head>
  <body>
    <header>
      <%- include ./partials/header %>
    </header>

    <h2><%= subject_data.subject_name %></h2>

  <table>
    <tr>
      <td>No.</td>
      <th>Name</th>
      <th>Score</th>
      <th>Letter Score</th>
    </tr>

    <% var i = 1 %>
    <% student_data.forEach(student => { %>
      <tr>
        <td><%= i++ %></td>
        <td><%= student.Student.first_name + ' ' + student.Student.last_name %></td>
      <% if (!student.score) { %>
        <!-- note: student.id == StudentId -->
        <td><a href="/subjects/<%= subject_data.id %>/<%= student.id %>/givescore">Give Score</a></td>
        <td><%= student.letter %></td>
      <% } else { %>
        <td><%= student.score %></td>
        <td><%= student.letter %></td>
      <% } %>
      </tr>
    <% }) %>

  </table>


  </body>
</html>